 /*
 
 Nossa cor de fundo  rgb(42,50,60);
 fundo dos cards rgb(50,60,72);
 success rgb(102,210,3);
 info rgb(4,162,179);
 danger rgb(230,96,96);
 header rgb(87,179,231);
letras de fundo rgb(152,164,185)
 */
 
 body{
    background-color: rgb(42,50,60); 
}
 .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand{
     color: white;
 }

 .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
    background-color: rgb(42,50,60);   
 }
 #nome-usuario:hover{
    background-color: transparent !important;
 }
 
 .fd-success {color:  rgb(102,210,3);}
 .fd-info {color:   rgb(87,179,231)}
 .fd-danger {color:  rgb(230,96,96);}


 .btn-fd-primary{
    background-color: rgb(60,141,188);
    color: white;    
   }

.btn-fd-primary:hover{
   background-color: rgb(10, 88, 189);
   color: white;    
   }

.btn-fd-primary:focus{
   color: white;    
   }

   #meu-menu{
   background-color: rgb(60,141,188)!important;
   color: white;
   top:0px;
}

nav{ background-color: rgb(60,141,188) !important; }

.modal-header{
   background-color: rgb(60,141,188);
   color: white;
}

button[type="button"].btn{
   width: 90px;
}

#nome-usuario:focus, #nome-usuario:active{
   background-color: rgb(60, 141, 188) !important;
}

#nome-usuario:hover{
   background-color: transparent !important;
}